.agency-layout {
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px;
    width: 50vw;
}

.agency-card{
    display:flex;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 14px;
}


.case-link{
    margin: 10px;
    padding: 5px;
    font-size: 14px;
}