.App {
  display:flex;
  margin: 50px;
  border-radius: 30px;
  background-color: rgb(237, 237, 248);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


h1 {
  font-size: 2rem;
  margin: 20px;
}




