.users {
    background-color: rgba(47, 79, 168, 0.897);
    color: white;
    padding: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    line-height: 50px;
    height: 100vh;
}

.user-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
}

.addsCase {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 50px;
}

input {
    font-size: 1rem;
    margin: 10px;
    border-radius: 5px;
}

.add-case-btn {
    display:flex;
    justify-content: flex-end;
    margin: 10px;
    margin-top: 30px;
}

.case-btn-style {
    font-size: 14px;
    border-radius: 10px;
}

.case-list {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.case-layout {
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px;
    width: 50vw;
}

.case-card{
    display:flex;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 12px;
}

.case-card p {
    margin: 3px;
} 

.agency-link{
    margin: 10px;
    padding: 5px;
    font-size: 12px;
}
