h2 {
  text-align: center;
}

.user-card {
  text-align: center;
}

.case-list {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.case-layout {
  display: flex;
  align-items: flex-end;
  border: 1px solid rgba(216, 211, 211, 0.74);
  border-radius: 20px;
  margin: 10px;
  width: 100%;
}

.case-card{
  padding: 5px;
}

.case-card p {
  margin: 3px;
}









